# Python files
*.pyc
*.pyo
*.pyd
__pycache__
pyenv.cfg
*.so
*.egg
*.egg-info/
dist/
build/
*.tar.gz

# Virtual environments
venv/
ENV/

# Flask files
instance/

# SQLite files
*.sqlite

# S.O files
.DS_Store
Thumbs.db
